<div style="text-align: center; margin-top: 50px;">
    <form method="post">
        <h2>Description</h2>
        <input required type="text" name="description" placeholder="Description">
        <h2>Context</h2>
        <input required type="text" name='context[]' placeholder="Sentence 1"><br><br>
        <input required type="text" name='context[]' placeholder="Sentence 1"><br><br>
        <input required type="text" name="context[]" placeholder="Sentence 1"><br><br>
        <input type="submit" value="Send">
    </form>
</div>